  <div class="row"  *ngIf="product" >
    <div class="col-6 offset-3">
      <form #productForm="ngForm" (ngSubmit)="onFormSubmit(productForm)">
        <div class="form-group">
          <label>Name</label>
          <input [(ngModel)]="product.name" name="name" type="text" class="form-control" required pattern=".{5,20}">
          <div class="error-message" [hidden] = "productForm.controls['name']?.valid">
            "A névnek minimum 5, maximum 20 karakter hosszúnak kell lennie"
          </div>

        </div>
        <div class="form-group">
          <label>Price</label>
          <input [(ngModel)]="product.price" name="price" type="number" class="form-control" required>
        </div>
        <div class="form-group">
          <label>SEOName</label>
          <input [(ngModel)]="product.seoName" name="seoName" type="text" class="form-control" required>
        </div>
        <div class="btn-group">
          <button [disabled]="productForm.invalid" class="btn btn-block btn-primary">
            <i class="fa fa-save"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
