<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>price</th>
          <th>active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList$ | async">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.active }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
